.containerList{
    display: flex;
    flex-direction: row;
    padding: 17px;
    border: 1px solid #2222;
    margin: 20px auto;
    max-height: 400px;
    max-width: 600px;
    min-width: 600px;
    overflow: scroll;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    text-align: center;
 
}

.containerP{
    margin: 0 20px;
    border: 1px solid #2222;
    padding: 10px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    align-content: space-between;
}

.btn-primary{
    
    margin: 0 5px !important;
}